<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fragment" content="!">
    <base href="/">

    <title>App</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!--STYLES-->

    <!--STYLES END-->

    <style>
        html, body { height: 100%; font-family: "Roboto", sans-serif; }
        a, button, select, table { outline: 0 !important; }
        textarea { resize: vertical; }
    </style>
</head>

<body>
    <%- body %>


    <!--TEMPLATES-->

    <!--TEMPLATES END-->


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>

    <!--SCRIPTS-->

    <!--SCRIPTS END-->

    <script>
      ;(function (angular) {
        'use strict';

        /**
         * Init
         */
        angular.module('app', ['ngRoute', 'ngResource']);


        /**
         * Config
         */
        angular.module('app').config(AppConfig);
        AppConfig.$inject = ['$locationProvider', '$routeProvider'];
        function AppConfig($locationProvider, $routeProvider) {
          $locationProvider.hashPrefix('!');
          $routeProvider
            .when('/', {
              templateUrl : '/app/views/default.html',
              controller : 'DefaultController'
            })
            .otherwise({redirectTo: '/'});
        }


        /**
         * Controllers
         */
        angular.module('app').controller('DefaultController', DefaultController);
        DefaultController.$inject = ['$scope', '$log', 'Article', 'Category', 'Tag', 'Comment'];
        function DefaultController($scope, $log, Article, Category, Tag, Comment) {
          $scope.articles = [];
          Article.findAll(function (articles) {
            $scope.articles = articles;
          });

          $scope.categories = [];
          Category.findAll(function (categories) {
            $scope.categories = categories;
          });

          $scope.tags = [];
          Tag.findAll(function (tags) {
            $scope.tags = tags;
          });

          $scope.comments = [];
          Comment.findAll(function (comments) {
            $scope.comments = comments;
          });
        }


        /**
         * Factories, Services
         */
        angular.module('app').factory('User', UserFactory);
        UserFactory.$inject = ['$resource'];
        function UserFactory($resource) {
          return $resource('/user/:id', {id: '@id'}, {
            update: {
              method: 'PUT'
            },
            findAll: {
              method: 'GET',
              isArray: true
            }
          });
        }

        angular.module('app').factory('Article', ArticleFactory);
        ArticleFactory.$inject = ['$resource'];
        function ArticleFactory($resource) {
          return $resource('/article/:id', {id: '@id'}, {
            update: {
              method: 'PUT'
            },
            findAll: {
              method: 'GET',
              isArray: true
            }
          });
        }

        angular.module('app').factory('Category', CategoryFactory);
        CategoryFactory.$inject = ['$resource'];
        function CategoryFactory($resource) {
          return $resource('/category/:id', {id: '@id'}, {
            update: {
              method: 'PUT'
            },
            findAll: {
              method: 'GET',
              isArray: true
            }
          });
        }

        angular.module('app').factory('Tag', TagFactory);
        TagFactory.$inject = ['$resource'];
        function TagFactory($resource) {
          return $resource('/tag/:id', {id: '@id'}, {
            update: {
              method: 'PUT'
            },
            findAll: {
              method: 'GET',
              isArray: true
            }
          });
        }

        angular.module('app').factory('Comment', CommentFactory);
        CommentFactory.$inject = ['$resource'];
        function CommentFactory($resource) {
          return $resource('/comment/:id', {id: '@id'}, {
            update: {
              method: 'PUT'
            },
            findAll: {
              method: 'GET',
              isArray: true
            }
          });
        }
      })(angular);
    </script>
</body>
</html>
